body {
  font-family: 'Roboto', sans-serif;
  background-color: #FDFDFD;
  padding-bottom: 70px;
}

.app {

}

header {
  width: auto;
  height: 40px;
  padding: 10px 0;
  background: #417690;
  line-height: 40px;
  color: #ffc;
  overflow: hidden;
}

.site-title {
  margin-bottom: 40px;
  font-style: italic;
  color: #f5dd5d;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0px 20px;
}
